* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  ul a {
    list-style: none;
    text-decoration: none;
    color: black;
  }
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 249, 241);
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 249, 241);
  width: 100%;
  position: fixed;
}

.header-info {
  border-bottom: 1px solid grey;
  color: white;
  background-color: #000;
  font-weight: 300;
  padding: 5px;
  text-align: center;
}

.logo img {
  width: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

.header-right {
  display: flex;
  gap: 50px;
}

.ulList {
  display: flex;
  gap: 20px;
  list-style: none;
}

#hambur {
  display: none;
}

#hambur i {
  font-size: 26px;
}

/* CART */

#cart i {
  font-size: 25px;
  cursor: pointer;
}

#container-cart-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
#total {
  border: 1px solid black;
  padding: 5px;
}

.container-products-cart img {
  width: 75px;
  aspect-ratio: 1;
}

.cart-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 10px;
}

.cart-item button {
  padding: 10px 20px;
  border: 1px solid black;
  background-color: aliceblue;
  border-radius: 10px;
  cursor: pointer;
}

.item-info {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.cart-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 400px;
  background-color: white;
}

.visibleCart {
  display: block;
}

.section-cartMenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
/* MENU HAMBURGUESA */

.menu-hambur {
  display: none;
}

.menu-hambur button {
  border: none;
}

.menu-hambur i {
  font-size: 25px;
}

.container-menu-hambur {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.ulListHambur {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-decoration: none;
  list-style-type: none;
}

.btnCerrar-menu,
.btnCerrar-cart {
  display: flex;
  width: 100%;
  justify-content: end;
  padding: 10px;
}

.btnCerrar-cart i {
  font-size: 25px;
  cursor: pointer;
}

/* HERO */

.hero {
  background-color: rgb(166, 203, 255);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  text-align: center;
}

.hero h2 {
  font-size: 50px;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: white;
  padding: 25pxpp;
}

/* ------------------------------------------------- */

/* FILTER */

.sectionProducts {
  display: flex;
}

.filter {
  width: 250px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 25px 10px;
  gap: 5px;
}

.marcas {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* PRODUCT CARD */

#container-products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  padding: 10px;
  justify-content: center;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 450px;
  text-align: center;
}

.product-card img {
  width: 100%;
  border-radius: 4px;
  aspect-ratio: 1;
}

.product-card button {
  padding: 5px 30px;
  background-color: bisque;
  border: none;
  cursor: pointer;
}

/* FOOTER */

footer {
  background-color: rgb(212, 212, 212);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-info {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 500px;
  padding: 5px;
}

.footer-info-bottom {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 100%;
  padding: 25px;
  gap: 25px;
}

.sectionFooter-top {
  display: flex;
  justify-content: center;
}

.mediospagos,
.mediosenvio {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  gap: 25px;
}

.mediospagos img,
.mediosenvio img {
  width: 50px;
}

/* ------------------------------------------------- */

/* MEDIAQUERIES */

@media (max-width: 768px) {
  .ulList {
    display: none;
  }

  .search {
    display: none;
  }

  .searchHambur {
    display: flex;
    gap: 10px;
  }

  #hambur {
    display: flex;
    cursor: pointer;
  }

  .menu-hambur {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60vi;
    height: 100%;
    background-color: white;
    z-index: 1000;
  }

  .visibleMenu {
    display: block;
  }

  .btnCerrar-menu i {
    cursor: pointer;
  }
}
